# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# don't upload this gam
.idea
pacman3_02/

# don't upload JSON Line files
*.jsonl

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
opencv/
wheels/
*.egg-info/
.installed.cfg
*.egg